.header {
    background-color: gold;
    display: flex;
    justify-content: space-around;
}
img{
    max-width: 200%;
    max-height: 100%;
}

.logo{
    height: 200px;
    width: 200px;
}

.navegacion {
    float: right;
}

.contenedorMascota {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    background-color: gold;
}

.abajo_del_perro {
    display: flex;
    justify-content: space-around;
}

.contenido {
    display: flex;
    background-color: gold;
    color: white;
    width: 100%;
    padding: 20px;
    font-family: verdana;
    font-weight: bold;
}

.principal {
    background-color: white;
}

.fono {
    width: 30%;
    align-content: center;
}

.rescate {
    width: 40%;
    text-align: center;
}

.redes {
    width: 100%;
    height: 36%;
    text-align: center;
}

.redes ul li {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 32px;
    display: inline-block;
}

.redes img {
    height: 200px;
}

.lateral_1, .lateral_2 {
    width: 50%;
    height: 500px;
    padding: 30px;
    background-color: white;
    font-family: verdana;
}

.lateral_1 {
    text-align: right;
}

.lateral_2 img {
    width: 50%;
}

.contenedor-inferior {
    display: flex;
}

